.content {
  box-sizing: border-box;
  margin: 0 auto;
  @include mobile {
    width: 580px;
  }
  @include tablet {
    width: 780px;
  }
  @include desktop {
    width: 1024px;
  }
}

html {
  font-size: 14px;
}