header {


  .app__space {
    width: auto;
    height: 45em;
    border: 1px solid black;
  }

  h1 {
    font-size: 3em;
    //font-family: 'Ubuntu', sans-serif;
    font-family: 'Pacifico', cursive;
  }


}


