.backpack {
  width: 20rem;
  height: 35rem;
  background-color: rgba(200, 200, 200, 0.5);
  //background-image: url("");
  display: flex;
  justify-content: center;
  padding: .5rem 0 0 0;

  li {
    list-style-type: none;
  }

  .stuff {
    display: flex;
    justify-content: space-between;


    .toPack {
      color: #000000;
      font-family: 'Ubuntu', sans-serif;
    }

    .packed {
      color: green;
      text-decoration: line-through;
      font-family: 'Ubuntu', sans-serif;
    }

    .stuff__btn {
      background: none;
      border: none;

      &:first-child {
        color: green;
      }

      &:last-child {
        color: red;
      }
    }
  }

  .stuffToPack {
    margin-bottom: 1rem;

    .button {
      height: 2rem;
      margin-left: .5rem;
      border: 1px solid green;
      font-family: 'Ubuntu', sans-serif;
      background-color: green;
      color: #ffffff;
    }

    form {
      height: 2rem;
    }

    .input {
      width: 12rem;
      font-family: 'Ubuntu', sans-serif;
    }

    input {
      height: 2rem;

    }

    li {
      font-family: 'Ubuntu', sans-serif;
    }
  }
}

